@model ProductDB.Entities.Product

<div class="card text-center">
    <div class="card-header">
        <h1>Product Detail Information</h1>
    </div>
    <div class="card-body">
        <img src="@Model.Image" class="card-img-top" alt="...">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">
            @Model.Category
            <span class="badge bg-primary">@Model.Price grn</span>
        </p>
        @* <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form> *@
        @if (@ViewBag.ReturnUrl == null)
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
        }
        else
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
            <form asp-action="Delete" asp-route-id="@Model.Id" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a href="@ViewBag.ReturnUrl" class="btn btn-primary">Back</a>
        }
    </div>
</div>